body{
  font-family:'Courier New', Courier, monospace;
  font-size: xx-large;
  line-height: 2px;
  color: white;

}
.medpleft {
  float: left;
  height: 270px;
  width: 32%;
  background-color: #3d4bf5;
  text-align: center;
  padding-top: 130px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.medtcenter {
  float: left;
  height: 270px;
  width: 33%;
  background-color: #7be7f0;
  text-align: center;
  padding-top: 130px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.medpright {
  float: left;
  height: 270px;
  width: 32%;
  background-color: #3d4bf5;
  text-align: center;
  padding-top: 130px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.header {
  float: left;
  height: 230px;
  width: 83%;
  background-color: #e8c4a1;
  text-align: center;
  padding-top: 160px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.img {
  float: left;
  height: 230px;
  width: 15%;
  background-color: #eaac21;
  text-align: center;
  padding-top: 160px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.main {
  float: left;
  height: 180px;
  width: 66%;
  background-color: #3d4bf5;
  text-align: center;
  padding-top: 160px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.sidebar {
  float: right;
  height: 525px;
  width: 33%;
  background-color: #7be7f0;
  text-align: center;
  padding-top: 160px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.quote {
  float: left;
  height: 179px;
  width: 66%;
  background-color: #eaac21;
  text-align: center;
  padding-top: 160px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.smallpleft {
  float: left;
  height: 250px;
  width: 25%;
  background-color: #3d4bf5;
  text-align: center;
  padding-top: 60px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.smalltleft {
  float: left;
  height: 250px;
  width: 25%;
  background-color: #7be7f0;
  text-align: center;
  padding-top: 60px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.smallpright {
  float: left;
  height: 250px;
  width: 24%;
  background-color: #3d4bf5;
  text-align: center;
  padding-top: 60px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.smallo {
  float: left;
  height: 250px;
  width: 24%;
  background-color: #eaac21;
  text-align: center;
  padding-top: 60px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}
.footer{
  float: left;
  height: 180px;
  width: 100%;
  background-color: #e8c4a1;
  text-align: center;
  padding-top: 160px;
  border-style: solid;
  border-color: #ffa700;
  border-width: 5%;
}